<ActionBar title="My App" class="action-bar">
</ActionBar>
<TabView #tv iosIconRenderingMode="alwaysTemplate" selectedIndex="0" (selectedIndexChange)="onIndexChange($event)" selectedTabTextColor="green">
    <StackLayout *tabItem="{{ tv.selectedIndex == 0 ? myTabItemSelected : myTabItem }}" >
        <Label text="First tap" textWrap="true"></Label>
    </StackLayout>
    <StackLayout *tabItem="{{ tv.selectedIndex == 1 ? myTabItemSelected : myTabItem }}">
        <Label text="Second tab item"></Label>
    </StackLayout>
    <StackLayout *tabItem="{{ tv.selectedIndex == 2 ? myTabItemSelected : myTabItem }}">
        <Label text="Third tab item"></Label>
    </StackLayout>
</TabView>
