<FlexboxLayout flexDirection="column">
    <Label text="Activity Step Bar Chart" height="150"></Label>
    <RadCartesianChart tkExampleTitle tkToggleNavButton>
        <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="MM/dd/YYYY" labelFitMode="Rotate" labelRotationAngle="-1.2" plotMode="OnTicks"></DateTimeCategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis majorStep="1"></LinearAxis>

        <BarSeries tkCartesianSeries [items]="chartData" stackMode="Stack" categoryProperty="{{ categoryAxisField }}" valueProperty="{{valueAxisField}}">
        </BarSeries>
        <BarSeries tkCartesianSeries [items]="chartData" stackMode="Stack" categoryProperty="{{ categoryAxisField }}" valueProperty="DistanceMiles">
        </BarSeries>

        <RadCartesianChartGrid tkCartesianGrid></RadCartesianChartGrid>

        <LineSeries tkCartesianSeries [items]="chartData" categoryProperty="{{ categoryAxisField }}" valueProperty="Duration" plotMode="BetweenTicks"></LineSeries>


    </RadCartesianChart>
</FlexboxLayout>