<FlexboxLayout flexDirection="column" backgroundColor="#103F69">
    <Label text="Activity Step Bar Chart" height="150"></Label>
    <RadCartesianChart tkExampleTitle tkToggleNavButton>
        <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="MM/dd/YYYY" labelFitMode="Rotate" labelRotationAngle="-1.2"  labelTextColor="White" lineColor="White" ></DateTimeCategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis majorStep="1" labelTextColor="White"  lineColor="White" ></LinearAxis>
        <BarSeries tkCartesianSeries [items]="chartData" categoryProperty="{{categoryAxisField}}" valueProperty="{{valueAxisField}}"  >
        </BarSeries>
        <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true" horizontalStrokeColor="White" horizontalStrokeWidth="1"></RadCartesianChartGrid>
        <LineSeries tkCartesianSeries [items]="chartData" categoryProperty="{{categoryAxisField}}" valueProperty="Duration" plotMode="OnTicks"></LineSeries>
    
    </RadCartesianChart>
</FlexboxLayout>